/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* The default font size of the browser is 16px, so if we want 1rem to be equal to 10px, we divide 10px by 16px = 62.5% */
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "arial", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 1rem;
}

a,
a:visited {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.top-page {
  display: flex;
  justify-content: center;
}
.continents {
  display: flex;
  justify-content: space-between;
}
.continent {
  cursor: pointer;
  font-size: 2rem;
  margin: 3rem 0;
  padding: 1rem;
}
.country-div {
  margin: 0.5rem;
}
.country-link {
  margin: 1rem;
}
.spinner {
  border: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(14, 67, 29);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: none;
  animation: spin2 1s linear infinite;
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
